html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.content {
  display: flex;
}
.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.show {
  display: inline;
}
.hide {
  display: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100px;
  overflow-y: auto;
  width: 100px;
}
ul li {
  padding-left: 5px;
}
ul li:nth-of-type(odd) {
  background-color: gray;
}
ul li:nth-of-type(even) {
  background-color: coral;
}
.width-100 {
  width: 100px;
}
.box {
  box-sizing: border-box;
}
